<%= form_with(model: search, local: true) do |form| %>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <%= form.text_field :query, id: :search_field, class: "form-control" %>
        <span class='input-group-btn'>
            <%= form.submit 'Search', class: 'btn btn-default' %>
        </span>
      </div>
    </div>
  </div>
<% end %>
