<div class="container down">
  <%= render 'search_form', search: @search %>
</div>

<div class="container down">
  <% @searches.each do |search| %>
    <%= search.ip %>
    <%= search.query %>
  <% end %>
</div>